
#map {
        bottom:0px;
        height: 100%;
        left: 0px;
        position: absolute;
        right: 500px;
        display: none;

}
#root {
        float: right;
}
#location {
  text-align: center; 
}

#viewjobs {
        width: 500px;
}

.job {
        text-align: center;
        font-size: 14px;
        border: 1px solid #eee;
}

#buttons {
        margin: 0 auto;
}

#postjob {
        text-align: center;
}

.post-fields {
        padding-left: 5px;
        outline: none;
        border: 1px solid grey;
        border-radius: 3px;
        font-weight: normal;
        font-size: 12px;
}

.inputText {
        padding-right: 5px;
}

.navbar{
        background-color: blue;
}